
figures
.ipynb_ch*
.DS_Store
mcmcs/cobaya/chains/*
*_system.yaml
class_sz_crashtests.ipynb
anthony_kernel_suggestion.pdf
class_sz_cmb_cls-class-camb-cosmopower_comparison.ipynb
class_sz_szkernel-html.ipynb
class_sz_tangential_shear_DES_pandey-bkp.ipynb
class_sz_tsz_x_kappaCMB_tests_with_ccl.ipynb
save_lensingkernel_asinpaper_110423.txt
class_sz_szkernel-html.ipynb
